.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);

    display: none;
}

.modal-container.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box{
    width: 480px;
    height: 480px;
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 5px black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}